<!-- /templates/password.html -->
{% extends "base.html" %}

{% block title %}Send newsletter to subscribers{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <p>Please enter newsletter title and content.</p>
    {% for message in flash_messages %}
        <p><i>{{message|e}}</i></p>
    {% endfor %}
    <form action="/admin/newsletters" method="post">
        <label>Newsletter title
            <input
                type="text"
                placeholder="Enter title of newsletter"
                name="title"
            >
        </label>
        <br>
        <p>
            The text content is preceded by a<br \>
            "Newsletter title\n\n"<br \>
            "Hello subscriber-name,\n\n".</p>
        <br>
        <label>Context as text
            <input
                type="text"
                placeholder="Enter content as text"
                name="text_content"
            >
        </label>
        <br>
        <p>Html contecnt is placed in a body-statement.</p>
        <p>
            The Html content is preceded by<br />
            {{ "<h1>Newsletter title</h1>"|e}}<br />
            {{ "<p>Hello subscriber-name!</p>"|e }}.
        </p>
        <br>
        <label>Content as Html
            <input
                type="text"
                placeholder="Enter content as html"
                name="html_content"
            >
        </label>
        <br>
        <input hidden type="text" name="idempotency_key" value="{{idempotency_key}}">
        <button type="submit">Submit newsletter</button>
    </form>
    <p><a href="/admin/dashboard">&lt;- Back</a></p>
{% endblock %}