<!-- /templates/subscriptions.html -->
{% extends "base.html" %}

{% block title %}Subscribe to newsletter{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    {% for message in flash_messages %}
        <p><i>{{message|e}}</i></p>
    {% endfor %}
    <p>Please enter your contact informations.</p>
    <form action="/subscriptions" method="post">
        <label>User name
            <input
                type="text"
                placeholder="Enter your user name"
                name="name"
            >
        </label>
        <br>
        <label>Email
            <input
                type="text"
                placeholder="Enter your email"
                name="email"
            >
        </label>
        <br>
        <button type="submit">Submit subscriptions</button>
    </form>
    <p><a href="/">&lt;- Back</a></p>
{% endblock %}